.leaflet-draw-toolbar, .leaflet-bar, .leaflet-draw-toolbar-top{
   background:none !important;
}

.leaflet-draw-toolbar a, .leaflet-bar a, .leaflet-draw-toolbar-top a{
    border-radius:100% !important;
    margin:10px 7px !important;
}

.leaflet-draw, .leaflet-control{
    background:rgba(0,0,0,0.3);
    border-radius:3px;
}