#contenedorResultadoFiltro{
    position: absolute;
    padding:0;
    right:50px;
    width: 500px; 
    height:auto;
    overflow: auto;
    max-height: 100%;
    z-index:101;
}

.contenedorResultado{
    right:10px;
	width:480px;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	background:#fff;
	border-radius:10px;
	overflow:auto;
	-webkit-box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.3);
    
}
@media only screen and (max-width: 1750px) {
    #contenedorResultadoFiltro{
       top:50px; 
    }
}
@media only screen and (max-width: 950px) {
    #contenedorResultadoFiltro{
       top:90px; 
    }
}