.popup {
    width: auto;
    height: auto;
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    background: whitesmoke;
    color: #232323;
    border-radius: 10px 10px 3px 3px;
    border: solid 1px #dedede;
}

.tituloPopup {
    background: #e0e0e0;
    height: 25px;
    font-size: 14px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoPopup {
    padding: 10px 0px 0px 0px;
}

.coordenadasPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    color: #404041;
}
.coordenadasPopup span {
    margin: 0px 5px;
    font-size: 0.75rem;
}

.popup__container {
    width: 400px;
}

.popup__table {
    font-size: 0.8rem;
}

.popup__table th {
    border-right: 3px solid rgba(0, 0, 0, 0.03);
    padding: 0.5rem;
    width: 30%;
    overflow-wrap: anywhere;
}

.popup__table td {
    padding: 0.5rem;
    width: 70%;
    overflow-wrap: anywhere;
}

.popup__header {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.popup__footer {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0px;
    left: 0px;
    justify-content: space-between;
    height: 2.5rem;
    align-items: center;
}

.popup__footer [class^='icon-'],
.popup__footer [class*=' icon-'] {
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.popup__footer-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.popup__footer-pag btn {
    padding: 6px 3px;
}

.popup__footer-pag-label {
    margin: 0 3px;
}

.popup__title {
    font-weight: bold;
}

.leaflet-popup-scrolled {
    border-top: none;
    border-bottom: none;
    overflow-x: hidden;
    margin-top: 0;
}

.leaflet-popup-scrolled .popup__container {
    padding-right: 0.5rem;
    width: 384px;
}

.leaflet-popup-content {
    max-height: 341px;
    margin-top: 6px;
    margin-bottom: 2.4rem;
    overflow-y: auto;
}

.leaflet-popup-content-wrapper {
    padding-top: 3rem;
}
