.leaflet-wms-legend-widget {
    background-color: #fff;
    padding: 0.8rem 1rem 0.8rem 1rem;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.leaflet-wms-legend-widget--collapsed {
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.leaflet-wms-legend-widget__icon {
    display: none;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.leaflet-wms-legend-widget__title {
    margin-bottom: 0;
    color: #404041;
    font-size: 0.9rem;
    font-weight: bold;
}

.leaflet-wms-legend-widget__legends {
    margin-bottom: 0;
}

.leaflet-wms-legend-widget__legends-container {
    margin-top: 0.8rem;
    padding: 0 0.5rem 0 0.5rem;
}

.leaflet-wms-legend-widget__legends-container h6 {
    font-size: 0.9rem;
}

.leaflet-wms-legend-widget__legends-container img {
    margin-left: 0.5rem;
}
